* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
}


/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}


/*Accordion styles*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #f2feff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: relative;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #afc8ca;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    /*font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;*/
    position: absolute;
    top: 50%;
    left: 90%;
    -webkit-transform: translate(-90%, -50%);
            transform: translate(-90%, -50%);
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    position: absolute;
    top: 50%;
    left: 90%;
    -webkit-transform: translate(-90%, -50%);
            transform: translate(-90%, -50%);
}



/* Style the footer */
footer {
    background-color: #afc8ca;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}
